::ng-deep {
    .p-skeleton {
        background: var(--skeleton-color, #353131);
    }
}

.wrap-skeleton {
    &.card-tool {
        margin-bottom: 20px;
    }
    &.tool {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 75%;
            margin: 50px auto;
        .wrap-header {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            @media (min-width: 600px) {
                flex-direction: row;
            }
            .wrap-img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .wrap-chart {
                max-width: 200px;
                margin-top: 50px;
                @media (min-width: 600px) {
                    margin-top: 0;
                }
            }
        }
        .wrap-buttons  {
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            width: 100%;
            @media screen and (min-width: 600px) {
                flex-direction: row;
            }
            ::ng-deep {
                p-skeleton {
                    width: 100%;
                    @media screen and (min-width: 600px) {
                        width: 25%;
                    }
                }
                p-skeleton:nth-child(2) {
                    margin: 15px 0;
                    @media screen and (min-width: 600px) {
                        margin: 0;
                        margin-left: 16px;
                    }
                }
            }
        }
    }
    &.contact {
        margin-top: 30px;
        @media (min-width: 768px) {
            margin-top: 50px;
        }
        .description {
            max-width: 100%;
            height: 10rem;
            @media (min-width: 768px) {
                max-width: 50%;
                height: 5rem;
            }
            @media (min-width: 992px) {
                max-width: 33%;
                height: 2.5rem;
            }
        }
        .content-skeleton-contact {
            max-width: 100%;
            margin: 30px auto;
            @media (min-width: 768px) {
                max-width: 75%;
                margin-top: 50px auto;
            }
            .inputs {
                width: 100%;
                margin-top: 35px;
                @media (min-width: 768px) {
                    width: calc(50% - 20px);
                    margin-top: 20px;
                }
            }
        }
        .wrap-buttons  {
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            width: 100%;
            @media screen and (min-width: 600px) {
                flex-direction: row;
            }
            ::ng-deep {
                p-skeleton {
                    width: 100%;
                    @media screen and (min-width: 600px) {
                        width: 25%;
                    }
                }
                p-skeleton:nth-child(2) {
                    margin: 15px 0;
                    @media screen and (min-width: 600px) {
                        margin: 0;
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}