<div class="card">
    <div class="wrap-icon-favorite">
        <i 
            [ngStyle]="{'color':tool.favorite === true ? 'var(--brand-color-red)' : ''}" 
            class="pi pi-heart-fill"></i>
    </div>
    <p-card 
        [header]="tool.title" 
        [subheader]="tool.subtitle">
        <ng-template pTemplate="header">
            <img 
                [src]="tool.image"
                [alt]="tool.title" 
                [title]="tool.title" />
        </ng-template>
        <p class="description">{{ tool.description }}</p>
        <p-button 
            [routerLink]="['/tool', tool.id - 1]"
            label="Leer más" 
            [outlined]="true" 
            severity="info"
            icon="pi pi-plus" 
            iconPos="right" />
        <ul class="wrap-tags">
            <li *ngFor="let tag of tool.tags; let i = index">
                <p-tag severity="info" [value]="tool.tags[i]"></p-tag>
            </li>
        </ul>
        <ng-template pTemplate="footer">
            <a [href]="tool.link" target="_blank" rel="noopener noreferrer">
                <p-button [label]="textGoBtn" [outlined]="true" severity="danger" />
            </a>
        </ng-template>
    </p-card>
</div>