<div class="card">
    <p-card 
        [header]="tool.title" 
        [subheader]="tool.subtitle">
        <ng-template pTemplate="header">
            <img 
                [src]="tool.image"
                [alt]="tool.title" 
                [title]="tool.title" />
        </ng-template>
        <p class="description">{{ tool.description }}</p>
        <p-button 
            [routerLink]="['/tool', tool.id]"
            label="Leer más" 
            [outlined]="true" 
            severity="success"
            icon="pi pi-plus" 
            iconPos="right" />
        <ul class="wrap-tags">
            <li *ngFor="let tag of tool.tags; let i = index">
                <p-tag severity="info" [value]="tool.tags[i]"></p-tag>
            </li>
        </ul>
        <ng-template pTemplate="footer">
            <a 
                [href]="tool.link" 
                target="_blank"
                class="btn-go-site">Ir al sitio oficial</a>
        </ng-template>
    </p-card>
</div>