.card {
    position: relative;
    .wrap-icon-favorite {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    img {
        padding: 15px;  
    }
}
.description {
    max-width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    max-height: 65px;
}
.wrap-tags {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    padding: 0;
    li {
        list-style: none;
    }
}
.btn-go-site {
    border: 1px solid var(--brand-color-red, #f53a3a);
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    color: var(--brand-color-red, #f53a3a);
    text-decoration: none;
    transition: background .2s ease-in-out;
    &:hover {
        background: var(--brand-color-red-hover, #ff000022);
    }
}