<h1>Contacto</h1>
<p>Si desea ponerse en contacto conmigo, por favor, rellene el siguiente formulario:</p>
<form class="wrap-form">
    <div class="wrapper-form">
        <div class="form-group">
            <span class="p-float-label">
                <input pInputText id="username" />
                <label htmlFor="username">Nombre</label>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input pInputText id="surname" />
                <label htmlFor="surname">Apellidos</label>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input pInputText id="company" />
                <label htmlFor="company">Empresa</label>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <input pInputText id="e-mail" />
                <label htmlFor="e-mail">Correo electrónico</label>
            </span>
        </div>
        <div class="form-group">
            <span class="p-float-label">
                <textarea id="textarea" rows="15" cols="50" pInputTextarea></textarea>
                <label for="textarea">Escriba aquí su comentario</label>
            </span>
        </div>
    </div>
    <div class="wrap-buttons">
        <div class="wrap-button-reset">
            <p-button 
                label="Resetear formulario" 
                [outlined]="true" 
                severity="danger" />
        </div>
        <div class="wrap-button-send">
            <p-button 
                label="Enviar formulario" 
                [outlined]="true" 
                severity="info" />
        </div>
    </div>
</form>