@use './../../../styles.scss';

.wrap-contact {
    .description {
        width: 100%;
        @media screen and (min-width: 768px) {
            max-width: 50%;
        }
        @media screen and (min-width: 992px) {
            max-width: 33%;
        }
    }
    .wrap-form {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        @media screen and (min-width: 992px) {
            max-width: 75%;
            margin: 30px auto;
        }
        .wrapper-form {
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            @media screen and (min-width: 768px) {
                gap: 40px 20px;
                margin-top: 40px;
            }
            .form-group {
                flex: 1 1 100%;
                margin-top: 35px;
                @media screen and (min-width: 768px) {
                    flex: 1 1 calc(50% - 20px);
                    margin-top: 0;
                }
                &.textarea {
                    flex: 1 1 100%;
                    textarea {
                        resize: none;
                    }
                }
                .p-float-label,
                input,
                label,
                textarea {
                    width: 100%;
                    .required {
                        color: var(--brand-color-red, #f53a3a);
                    }
                    .counterCharacters {
                        margin-top: 0;
                    }
                    &.success {
                        border-radius: 4px;
                        border: 2px solid var(--border-success, #28a745);
                        background: var(--bg-border-success, #20a53f2f)
                    }
                }
                .wrap-alert {
                    width: 100%;
                }
            }
        }
        ::ng-deep .wrap-buttons {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            gap: 16px;
            @media (min-width: 768px) {
                justify-content: flex-end;
                flex-direction: row;
                gap: 0;
            }
            .wrap-button-reset {
                order: 2;
                width: 100%;
                @media (min-width: 768px) {
                    margin-right: 14px;
                    order: 1;
                    order: 2;
                    width: fit-content;
                }
                .p-button.p-button-danger.p-button-outlined {
                    @extend %p-button-danger;
                }
            }
            .wrap-button-send {
                order: 1;
                width: 100%;
                @media (min-width: 768px) {
                    order: 2;
                    width: fit-content;
                }
                .p-button.p-button-info.p-button-outlined {
                    @extend %p-button-info;
                }
            }
        }
    }
}