:host {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.alert {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    max-width: fit-content;
    margin-top: 15px;
    &.info {
        color: var(--alert-info, #42d1f3);
        border: 2px solid var(--alert-info, #42d1f3);
        background: var(--bg-alert-info, #1b8ba75b);
    }
    &.warning {
        color: var(--alert-warning, #ffc107);
        border: 2px solid var(--alert-warning, #ffc107);
        background: var(--bg-alert-warning, #ecec105b);
    }
    &.success {
        color: var(--alert-success, #28a745);
        border: 2px solid var(--alert-success, #28a745);
        background: var(--bg-alert-success, #20a53f2f);
    }
    &.danger {
        color: var(----alert-danger, #f53a3a);
        border: 2px solid var(--alert-danger, #f53a3a);
        background: var(--bg-alert-danger, #8a0b0b48);
    }
    i {
        margin-right: 10px;
    }
}