.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    &-logo {
        display: block;
        width: fit-content;
        width: -moz-fit-content;
        height: fit-content;
        height: -moz-fit-content;
        margin-right: 15px;
        app-logo-display {
            display: block;
            width: fit-content;
            width: -moz-fit-content;
            height: fit-content;
            height: -moz-fit-content;
        }
    }
}
::ng-deep {
    .p-menubar {
        border-radius: 0;
        background: var(--bg-navbar, #343e4d33);
        backdrop-filter: blur(10px);
        p-dropdown .item-dropdown {
            display: flex;
            box-sizing: border-box;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
        }
    }
}