
<div class="navbar">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <a [routerLink]="['/']" class="navbar-logo">
                <app-logo-display [data]="dataLogo" />
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <p-dropdown 
                [options]="countries" 
                [(ngModel)]="selectedCountry" 
                optionLabel="name" 
                [showClear]="false" 
                placeholder="Select your Language">
                <ng-template pTemplate="selectedItem">
                    <div class="item-dropdown" *ngIf="selectedCountry">
                        <img 
                            [src]="selectedCountry.flag" 
                            style="width: 18px"/>
                        <div>{{ selectedCountry.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="item-dropdown">
                        <img 
                            [src]="country.flag" 
                            style="width: 18px"/>
                        <div>{{ country.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </ng-template>
    </p-menubar>
  </div>