<app-skeleton 
    *ngIf="!showSkeleton" 
    [typeSkeleton]="toolSkeleton" />

<div 
    *ngIf="showSkeleton" 
    class="wrap-tool">
    <div class="wrapper-tool">
        <div class="wrap-title">
            <h1 class="tool-title">{{ tool.title }}</h1>
            <div class="wrap-icon-favorite">
                <i [ngStyle]="{'color':tool.favorite === true ? 'var(--brand-color-red)' : ''}"
                    style="font-size: 1.2rem;" class="pi pi-heart-fill"></i>
            </div>
        </div>
        <div class="wrap-header">
            <div class="wrap-img">
                <img [src]="tool.image" [alt]="tool.title" [title]="tool.title">
            </div>
            <div class="wrap-chart">
                <app-chart [dataChart]="tool" />
            </div>
        </div>
        <h3 class="wrap-subtitle">{{ tool.subtitle }}</h3>
        <p>Lo utilizo para:</p>
        <ul class="wrap-tags">
            <li *ngFor="let tag of tool?.tags; let i = index">
                <p-tag severity="info" [value]="tool.tags[i]"></p-tag>
            </li>
        </ul>
        <div class="wrap-description">
            <p>{{ tool.description }}</p>
        </div>
    </div>
    <div class="wrap-buttons">
        <div class="wrap-button-go">
            <a [href]="tool.link" target="_blank" rel="noopener noreferrer">
                <p-button [label]="textGoBtn" [outlined]="true" severity="danger" />
            </a>
        </div>
        <div class="wrap-button-back">
            <p-button (click)="goBack()" [label]="textBtnBack" [outlined]="true" severity="info" />
        </div>
    </div>
</div>