
<div class="wrap-bg-video">
    <div class="wrap-buttons">
        <p-button 
            (click)="manageSound()"
            [outlined]="true" 
            severity="danger"  
            [icon]="isMuted ? 'pi pi-volume-up' : 'pi pi-volume-off'" 
            class="btn btn-unmuted" />
        <p-button 
            (click)="manageReproduction()"
            [outlined]="true" 
            severity="info"
            [icon]="isPlay ? 'pi pi-pause' : 'pi pi-play'" 
            class="btn btn-reproduction" />
    </div>
    <video 
        [src]=srcVideo
        (canplay)="manageSound()"
        #videoPlayer
        autoplay
        loop
        muted
        class="bg-home">
    </video>
</div>
