/* You can add global styles to this file, and also import other style files */


// ** My Config Styles
@import './assets/styles/variables';
@import './assets/styles/extends';
@import './assets/styles/utilities';
@import './assets/styles/grid';
@import './assets/styles/fonts';
@import './assets/styles/scrollbar-custom';

// ** PrimeNg Config Styles
@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


// ** Styles PrimeNg
// ScrollTop Button
.p-scrolltop.p-link {
    background: var(--brand-color-red);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: var(--brand-color-red);
    color: var(--text-color-button-white);
}