/* You can add global styles to this file, and also import other style files */

@import './assets/styles/extends';

// ** PrimeNg Config Styles
@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

// ** My Variables
:root {

    // * Brand 
    --brand-color-red: #f53a3a;
    --brand-color-red-hover: #ff000022;
    --brand-color-blue: #42d1f3;
    --brand-color-blue-hover: #42d0f336;
    
    // * Colros
    --bg-navbar: #343e4d33;
    --bg-footer: #343e4d;
    --text-color: #989899;
    --text-color-button-white: #fff
    // alert
    --alert-success: #28a745;
    --bg-alert-success: #20a53f2f;
    --alert-danger: var(--brand-color-red);
    --bg-alert-danger: #8a0b0b48;
    --alert-info: var(--brand-color-blue);
    --bg-alert-info: #1b8ba75b;
    --alert-warning: #ecec10;
    --bg-alert-warning: #ecec105b;
    // Skeleton
    --skeleton-color: #353131;
    // Tools
    --photoshop-primary: #31AAFF;
    --photoshop-primary-hover: #1e7dc1;
    --photoshop-secondary: #021733;
    --photoshop-secondary-hover: #010407;
    --illustrator-primary: #f89c01;
    --illustrator-primary-hover: #300003;
    --illustrator-secondary: #7e5103;
    --illustrator-secondary-hover: #140304;

    // * Fonts
    // sizes
    --font-size-text: 16px;
    --font-size-text-footer: 14px;
    --font-size-title-h1: 28px;
    --font-size-title-h2: 22px;
    --font-size-title-h2-mobile: 16px;
    --font-size-title-h3: 18px;
    // types
    --font-family: "Montserrat", sans-serif;
}

// * Global Styles
html,
body {
    color: var(--text-color, #989899);
    margin: 0;
    font-family: var(--font-family, "Montserrat", sans-serif);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: var(--font-size-title-h1, 28px);
    color: var(--brand-color-blue);
    border-bottom: 1px solid var(--brand-color-blue);
}
h2 {
    font-size: var(--font-size-title-h2-mobile, 16px);
    @media (min-width: 768px) {
        font-size: var(--font-size-title-h2, 22px);
    }
}
h3 {
    font-size: var(--font-size-title-h3, 18px);
}
p, span, a {
    font-size: var(--font-size-text, 16px);
}

/* Base styles */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .container {
        max-width: 540px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/* Extra extra large devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

// * Utilities
.mt-1 { margin-top: 10px !important; }
.mt-2 { margin-top: 15px !important; }
.mt-3 { margin-top: 20px !important; }
.mt-4 { margin-top: 25px !important; }
.mt-5 { margin-top: 30px !important; }
.mt-6 { margin-top: 35px !important; }
.mt-7 { margin-top: 40px !important; }

.me-1 { margin-right: 10px !important; }
.me-2 { margin-right: 15px !important; }
.me-4 { margin-right: 25px !important; }
.me-3 { margin-right: 20px !important; }

// * ScrollTop
.p-scrolltop.p-link {
    background: var(--brand-color-red, #f53a3a);
}