html,
body {
    color: var(--text-color, #989899);
    margin: 0;
    font-family: var(--font-family, "Montserrat", sans-serif);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: var(--font-size-title-h1-mobile, 22px);
    color: var(--brand-color-blue);
    border-bottom: 1px solid var(--brand-color-blue);
    margin-top: 30px;
    @media (min-width: 768px) {
        margin-top: 50px;
        font-size: var(--font-size-title-h1, 28px);
    }
}
h2 {
    font-size: var(--font-size-title-h2-mobile, 20px);
    @media (min-width: 768px) {
        font-size: var(--font-size-title-h2, 24px);
    }
}
h3 {
    font-size: var(--font-size-title-h3-mobile, 18px);
    @media (min-width: 768px) {
        font-size: var(--font-size-title-h3, 22px);
    }
}
p, span, a {
    font-size: var(--font-size-text, 16px);
}