

.mt-1 { margin-top: 10px !important; }
.mt-2 { margin-top: 15px !important; }
.mt-3 { margin-top: 20px !important; }
.mt-4 { margin-top: 25px !important; }
.mt-5 { margin-top: 30px !important; }
.mt-6 { margin-top: 35px !important; }
.mt-7 { margin-top: 40px !important; }

.me-1 { margin-right: 10px !important; }
.me-2 { margin-right: 15px !important; }
.me-4 { margin-right: 25px !important; }
.me-3 { margin-right: 20px !important; }